<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="setMap(map)"></th:block>
<th:block th:fragment="setCss(css)"></th:block>
<head>
    <meta charset="UTF-8">
    <title>찜한목록</title>
    <th:block th:replace="~{/css :: setCss(~{this::css} )}"></th:block>
    <script th:src="@{/dist/js/plan.js}"></script>
    <link rel="stylesheet" th:href="@{/dist/css/datepicker.min.css}">
    <link rel="stylesheet" th:href="@{/dist/css/plan.css}">
    <script th:src="@{/dist/js/datepicker.min.js}"></script>
    <script th:src="@{/dist/js/i18n/datepicker.ko.js}"></script>
</head>
<body>
<h2>찜페이지이지롱</h2>

<legend>찜목록번호</legend>

<tr th:each="like:${likeList}">
    <td>
        <span th:text="${like.content_id}"></span>
        <input type="checkbox" name="likeList" id="likeList" th:value="${like.content_id}"/>
        <input type="hidden" name="mapx" id="mapx" th:value="${like.mapx}">
        <input type="hidden" name="mapy" id="mapy" th:value="${like.mapy}">
    </td>
</tr>

<div id='result'></div>
<tr>
    <td>
        <th:block th:replace="~{/sementic/kakaoMapApi :: setMap(~{this::map} )}"></th:block>
    </td>
</tr>
<button onclick="setParentText()">등록하기</button>

<script>
</script>
</body>
</html>