<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="setHead(head)"></th:block>
<th:block th:fragment="setFoot(foot)"></th:block>
<th:block th:fragment="setMap(map)"></th:block>
<th:block th:fragment="setCss(css)"></th:block>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>여행플랜</title>
    <!--구글폰트-->

    <th:block th:replace="~{/css :: setCss(~{this::css} )}"></th:block>
    <script th:src="@{/dist/js/plan.js}"></script>
    <link rel="stylesheet" th:href="@{/dist/css/datepicker.min.css}">
    <link rel="stylesheet" th:href="@{/dist/css/plan.css}">
    <script th:src="@{/dist/js/datepicker.min.js}"></script>
    <script th:src="@{/dist/js/i18n/datepicker.ko.js}"></script>
</head>

<body>


<th:block th:replace="~{/sementic/header :: setHead(~{this::head} )}"></th:block>


<!--content영역시작-->
<div class="section">

    <!--날짜선택 div-->

    <div class="content">

        <div class="planday">
            <h3>여행날짜선택</h3>
            <input id="sDay" type="text"> -&nbsp;
            <input id="eDay" type="text">
            <input type="button" id="once" name="check" value=" 확인 "
            onclick="createDiv('${datepicker1}','${datepicker2}'); this.onclick=null; stealName(); "/>
            <!--stealName();-->
            <input type="button" id="reconfirm" name="reconfirm" value=" 날짜 재확인 " onclick="refreshPage()"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
        </div>

        <!--div palnday의 날짜에 따라 추가되는 div-->
        <div class="plandiv1">
            <!--js에서 plandiv2가 들어오게됨-->
        </div>


        <!--jquery:자리이동x-->
        <script>
            $("#datepicker").datepicker({
                language: 'ko'
            });
            datePickerSet($("#sDay"), $("#eDay"), true);
        </script>


            <!--<input type="text" th:value="${#authentication.principal.username}" name="username"><br/>-->
            <input type="hidden" id="sDay2" value="">
            <input type="hidden" id="eDay2" value="">
<!--            <input type="hidden" id="username" name="username" th:value="${#authentication.principal.username}"><br>-->





    </div>


    <!--Map영역-->
    <th:block th:replace="~{/sementic/kakaoMapApi :: setMap(~{this::map} )}"></th:block>

</div>

<!--content영역끝-->

<!--footer영역-->
<th:block th:replace="~{/sementic/footer :: setFoot(~{this::foot} )}"></th:block>


</body>
</html>

