<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="setMap(map)"></th:block>
<th:block th:fragment="setCss(css)"></th:block>
<head>
    <meta charset="UTF-8">
    <title>찜한목록</title>
    <th:block th:replace="~{/css :: setCss(~{this::css} )}"></th:block>
    <script th:src="@{/dist/js/plan.js}"></script>
    <script type="text/javascript">
        function getParentText() {
            document.getElementById("sDay").value = opener.document.getElementById("sDay2").value;
            document.getElementById("eDay").value = opener.document.getElementById("eDay2").value;
            // document.getElementById("username").value=opener.document.getElementById("username").value;

        }
    </script>
</head>
<body>

<h2>찜페이지이지롱</h2>
<legend>찜목록번호</legend>

<tr th:each="like:${likeList}">
    <td>
        <input type="checkbox" name="likeList" class="likeList" id="likeList" th:value="${like.content_id}"
               onclick="getCheckBoxValue(); getParentText();"/>
        <img th:src="${like.firstimage}" th:width="50px" th:height="50px">
        <span th:text="${like.title}"></span>
        <input type="hidden" name="mapx" id="mapx" th:value="${like.mapx}">
        <input type="hidden" name="mapy" id="mapy" th:value="${like.mapy}">
    </td>
</tr>
    <form th:action="@{/plan/planlikesave}" id="param" method="get">
        <input type="hidden" id="sDay" name="p_sday" value=""><br/>
        <input type="hidden" id="eDay" name="p_eday" value=""><br/>
        <input type="hidden" id="username" name="username" value="username"><br/>
        <input type="hidden" id="result" name="content_id" value=""/><br/>
        <input type="hidden" id="cDay" name="p_cday" value=""><br/>
        <button id="planbtn">등록하기</button>

    </form>
<tr>
    <td>
        <th:block th:replace="~{/sementic/kakaoMapApi :: setMap(~{this::map} )}"></th:block>
    </td>
</tr>

</body>
</html>
