<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="setHead(head)"></th:block>
<th:block th:fragment="setFoot(foot)"></th:block>
<th:block th:fragment="setMap(map)"></th:block>
<th:block th:fragment="setCss(css)"></th:block>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>여행플랜</title>
    <!--구글폰트-->
    <meta name="google-signin-client_id"
          content="832265235477-t0424vv7k8bmivu13hibk2tbt3947sql.apps.googleusercontent.com">
    <link rel="stylesheet" th:href="@{/dist/css/datepicker.min.css}">
    <script th:src="@{/dist/js/datepicker.min.js}"></script>
    <script th:src="@{/dist/js/i18n/datepicker.ko.js}"></script>
    <th:block th:replace="~{/css :: setCss(~{this::css} )}"></th:block>

    <style>
        * {
            margin: 0;
            padding: 0;
        }

        .double div {
            float: left;
        }
    </style>

</head>

<body>


<th:block th:replace="~{/sementic/header :: setHead(~{this::head} )}"></th:block>


<!--content영역시작-->
<div class="section">

    <!--날짜선택 div-->
    <div class="content">
        <div class="planday">
            <h3>여행날짜선택</h3>
            <input id="sDay" type="text" name="sDay">&nbsp;-&nbsp;
            <input id="eDay" type="text" name="eDay">
            <input type="button" id="reconfirm" name="reconfirm" value=" 날짜 재확인 " onclick="refreshPage()"/>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <input type="button" id="once" name="check" value=" 확인 "
                   onclick="createDiv('${datepicker1}','${datepicker2}'); this.onclick=null;"/>
        </div>
        <!--div palnday의 날짜에 따라 추가되는 div-->
        <div class="plandiv1">
            <!--js에서 plandiv2가 들어오게됨-->
        </div>


        <!--jquery:자리이동x-->
        <script>
            $("#datepicker").datepicker({
                language: 'ko'
            });
            datePickerSet($("#sDay"), $("#eDay"), true);
        </script>
    </div>


    <!--Map영역-->

    <div class="map">
        <h4>map 파트</h4>
    </div>
</div>
<!--content영역끝-->

<!--footer영역-->
<th:block th:replace="~{/sementic/footer :: setFoot(~{this::foot} )}"></th:block>


</body>
</html>

