<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="setFoot(foot)">
    <footer>
        <div>
            <img th:src="@{/image/logo.png}" width="150px" height="150px">
        </div>
        <div>
            CEO. 장 보 라
            <br/>Addr. 인천광역시 어딘가 서부여성회관 역 근처
            <br/> Fax/Tel. 02 - 223 -2912~5 COPYRIGHT 2021.
            <br/> NOLMUK. ALL RIGHT RESERVED.
            <br>
            <br>
            <a th:href="@{/notice/list}">공지사항으로&nbsp;</a>
            <a th:href="@{/notice/personalinfo}">||&nbsp;&nbsp;개인정보처리방침&nbsp;</a>
            <a th:href="@{/notice/provisions}">||&nbsp;&nbsp;이용약관</a>
        </div>
    </footer>
</th:block>
