<th:block th:fragment="setHead(head)">
    <html lang="en" xmlns:th="http://www.thymeleaf.org">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400&display=swap" rel="stylesheet">
    <link rel="stylesheet" th:href="@{/dist/css/style.css}">
    <script th:src="@{/dist/js/sementic.js}"></script>
    <th:block th:fragment="setMypage(mypege)"></th:block>

    <script>
        function ViewLayer(){
            if(document.getElementById("Pop").style.display=="none"){
                document.getElementById("Pop").style.display='inline'
            }else{
                document.getElementById("Pop").style.display='none'
            }
        }
    </script>

    <header>
        <form action="/test/detail">
            <div class="header">
                <div class="searchArea">
                    <form>
                        <input type="search" name="keyword" placeholder="Search">
                        <input type="hidden" name="page" value="1">
                        <input type="hidden" name="contentType" value="">
                        <input type="submit" value="검색">
                    </form>
                </div>
                <ul class="nav">
                    <li><a th:href="@{/}">HOME</a></li>
                    <li><a th:href="@{/plan/plan}">PLAN</a></li>
                    <li><a th:href="@{/member/auth/login}">LOGIN</a></li>
                    <li >
                        <a href="javascript:ViewLayer();">MYPAGE</a>
                        <div id="Pop" style="position:absolute; right:100px; top:100px; width:500px; height:500px; z-index:1; display: none;">
                            <th:block th:replace="~{/member/mypage :: setMypage(~{this::mypage} )}"></th:block>
                        </div>
                    </li>
                </ul>
            </div>
        </form>
            <div id="goingTop" onclick="window.scrollTo(0,0);"> ↑ </div>
    </header>
</th:block>
