<!DOCTYPE html>
<th:block th:fragment="setSearch(search)"></th:block>

<th:block th:fragment="setHead(head)">
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400&display=swap" rel="stylesheet">
<link rel="stylesheet" th:href="@{/dist/css/style.css}">



    <div class="header">
        <div class="searchArea">
            <form>
                <input type="search" placeholder="Search"/>
                <span> 검색</span>
            </form>
        </div>
        <ul class="nav">
            <li><a th:href="@{/}">HOME</a></li>
            <li><a th:href="@{/plan/plan}">PLAN</a></li>
            <li><a th:href="@{/member/login}">LOGIN</a></li>
            <li><a th:href="@{/member/mypage}">MYPAGE</a></li>
        </ul>
    </div>
   <!-- <div class="header">
        <div class="top" >
            <img class="logo" th:src="@{/image/logo.png}">
            <th:block class="search" th:replace="~{/test/searchPage :: setSearch(~{this::search} )}"></th:block>
            <section class="menu">
            <a th:href="@{/plan/plan}">플랜짜기 / </a>
            <a th:href="@{/member/login}">로그인 / </a>
            <a th:href="@{/member/mypage}">마이페이지 </a>
            </section>
        </div>

    </div>-->

</th:block>
</html>