<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="setLogin(login)"></th:block>
<th:block th:fragment="setJoin(join)"></th:block>
<th:block th:fragment="setMyPageInfo(info)"></th:block>
<th:block th:fragment="setMyPageLike(mypagelike)"></th:block>
<th:block th:fragment="setHead(head)">



    <header>
        <form action="/detail/detail">
            <div class="header">
                <div class="searchArea">
                    <form>
                        <input type="search" name="keyword" placeholder="Search">
                        <input type="hidden" name="page" value="1">
                        <input type="hidden" name="contentType" value="">
                        <input type="submit" value="검 색">
                    </form>
                </div>

                <!-- 로그인 된 상태 -->

                <ul class="nav" th:if="${#authorization.expr('isAuthenticated()')}">
                    <li><a th:href="@{/}">HOME</a></li>
                    <li><a th:href="@{/plan/plan}">PLAN</a></li>

                    <li>
                        <a data-toggle="modal" href="#mypageModal">MYPAGE</a>
                        <div class="modal fade" id="mypageModal" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">×</button>
                                        <h1 class="modal-title" align="center">마이페이지</h1>
                                    </div>
                                    <div class="modal-body">
                                        <th:block
                                                th:replace="~{/member/mypage_myinfo :: setMyPageInfo(~{this::mypageinfo} )}"></th:block>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li>
                        <a data-toggle="modal" href="#likeModal">LIKE</a>
                        <div class="modal fade" id="likeModal" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">×</button>
                                        <h1 class="modal-title" align="center">찜목록</h1>
                                    </div>
                                    <div class="modal-body">
                                        <th:block
                                                th:replace="~{/member/mypage_like :: setMyPageLike(~{this::mypagelike} )}"></th:block>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                    <li><a th:href="@{/logout}">LOGOUT</a></li>
                </ul>

                <!-- 로그인 되지 않은 상태 -->

                <ul class="nav" th:unless="${#authorization.expr('isAuthenticated()')}">
                    <li><a th:href="@{/}">HOME</a></li>
                    <li><a th:href="@{/plan/plan}">PLAN</a></li>

                    <li>
                        <a data-toggle="modal" href="#loginModal">LOGIN</a>
                        <div class="modal fade" id="loginModal" role="dialog">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal">×</button>
                                        <h1 class="modal-title" align="center">로그인</h1>
                                    </div>
                                    <div class="modal-body">
                                        <th:block th:replace="~{/member/login :: setLogin(~{this::login} )}"></th:block>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </li>

                </ul>
            </div>
        </form>
        <div id="goingTop" onclick="window.scrollTo(0,0);"> ↑</div>
    </header>
</th:block>
