<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<th:block th:fragment="setMap(map)">
    <div id="map">
        <script type="text/javascript"
                src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3b7d40e80fb8c0abb9d63a590f43fba0"></script>
        <script>
            /*================== 변수 임시 처리 ====================================*/
            /* 1.공공데이터 중 원하는 장소 서치 후 확인 2. 그 데이터가 저장된 DTO중 mapx,mapy(위도경도),addr1(실주소값) 불러오기 3. var a,b,infowindowText에 대입 */
            // var a,b 좌표 변수 지정 test
            var a = 37.2872039225;  // <mapy>37.2872039225</mapy>
            var b = 127.0120008348; // <mapx>127.0120008348</mapx>
            // 인포 윈도우 설정
            var infowindowText = "경기도 수원시 장안구 영화동 320-2"; //<addr1>경기도 수원시 장안구 영화동 320-2</addr1>

            /*================== 변수 임시 처리 ====================================*/


            var mapContainer = document.getElementById('map'), // 지도를 표시할 div
                mapOption = {
                    center: new kakao.maps.LatLng(a, b), // 지도의 중심좌표
                    level: 3 // 지도의 확대 레벨
                };

            var map = new kakao.maps.Map(mapContainer, mapOption);

            // 마커가 표시될 위치입니다
            var markerPosition = new kakao.maps.LatLng(a, b);

            // 마커를 생성합니다
            var marker = new kakao.maps.Marker({
                position: markerPosition
            });

            // 마커가 지도 위에 표시되도록 설정합니다
            marker.setMap(map);

            var iwContent =
                '<div style="padding:5px; width: 100%;">' + infowindowText + '<br>' +
                '<a href="' + a + ',' + b + '" '

            // '<a href="https://map.kakao.com/link/map/Hello World!,'+a+','+b+'" '
            // 인포윈도우에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
            iwPosition = new kakao.maps.LatLng(a, b); //인포윈도우 표시 위치입니다

            // 인포윈도우를 생성합니다
            var infowindow = new kakao.maps.InfoWindow({
                position: iwPosition,
                content: iwContent
            });

            // 마커 위에 인포윈도우를 표시합니다. 두번째 파라미터인 marker를 넣어주지 않으면 지도 위에 표시됩니다
            infowindow.open(map, marker);
        </script>
    </div>
</th:block>