<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="setHead(head)"></th:block>
<th:block th:fragment="setFoot(foot)"></th:block>
<th:block th:fragment="setCss(css)"></th:block>

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{/css :: setCss(~{this::css} )}"></th:block>

</head>

<body>
<!--header영역-->
<th:block th:replace="~{/sementic/header :: setHead(~{this::head} )}"></th:block>


<div class="section">
    <div class="content">
        <form action="/test/detail" name="frm" onsubmit="return checkForm()">
            <select name="contentType">
                <option value="">전체</option>
                <option value="12">관광지</option>
                <option value="14">문화시설</option>
                <option value="15">축제/공연/행사</option>
                <option value="39">맛집</option>
            </select>
            <input type="text" name="keyword">
            <input type="hidden" name="page" th:value="1">
            <input type="submit" value="검색">
            <input type="button" value="상세히 검색" onclick="searchMore()">
            <input type="text" id="areaCode" name="areaCode" readonly>
        </form>
        <th:block th:if="${page != null}">
            <table border="1">
                <div th:each="list : ${list}">
                    <tr>
                        <td>
                            <a th:href="@{/test/realDetail(content_id=${list.content_id}, contentType=${list.contentType}, firstimage2=${list.firstimage2})}">
                                <img th:src="${list.firstimage2}" width="100" height="100">
                            </a>

                            <input type="hidden" name="mapx" id="mapx" th:value="${list.mapx}">
                            <input type="hidden" name="mapy" id="mapy" th:value="${list.mapy}">
                        </td>
                        <td>
                            <a th:href="@{/test/realDetail(content_id=${list.content_id}, contentType=${list.contentType}, firstimage2=${list.firstimage2})}">[[${list.keyword}]]</a>
                        </td>
                        <td>
                            [[${list.reviewAvg}]]
                        </td>
                    </tr>
                </div>


            </table>
            <div th:if="${page > 1 || totalCount == 1}" style="float: left">
                &nbsp;
                <a th:href="@{/test/detail(keyword=${keyword}, contentType=${contentType}, page=${page - 1})}">이전</a>
            </div>


            <div th:if="${page - 2 > 0}" style="float: left">
                &nbsp;
                <a th:href="@{/test/detail(keyword=${keyword}, contentType=${contentType}, page=${page - 2})}">[[${page-2}]]</a>
            </div>

            <div th:if="${page - 1 > 0}" style="float: left">
                &nbsp;
                <a th:href="@{/test/detail(keyword=${keyword}, contentType=${contentType}, page=${page - 1})}">[[${page-1}]]</a>
            </div>

            <div style="float: left">
                &nbsp;
                <a th:href="@{/test/detail(keyword=${keyword}, contentType=${contentType}, page=${page})}">[[${page}]]</a>
            </div>

            <div th:if="${totalCount>page+1}" style="float: left">
                &nbsp;
                <a th:href="@{/test/detail(keyword=${keyword}, contentType=${contentType}, page=${page+1})}">[[${page+1}]]</a>
            </div>

            <div th:if="${totalCount > page +2}" style="float: left">
                &nbsp;
                <a th:href="@{/test/detail(keyword=${keyword}, contentType=${contentType}, page=${page + 2})}">[[${page+2}]]</a>
            </div>


            <div th:if="${page == 1 && totalCount > 3}" style="float: left">
                &nbsp;
                <a th:href="@{/test/detail(keyword=${keyword}, contentType=${contentType}, page=${page + 3})}">[[${page+3}]]</a>
            </div>

            <div th:if="${page == 1 && totalCount > 3}" style="float: left">
                &nbsp;
                <a th:href="@{/test/detail(keyword=${keyword}, contentType=${contentType}, page=${page + 4})}">[[${page+4}]]</a>
            </div>
            <div th:if="${page == 2 && totalCount > 3}" style="float:left;">
                &nbsp;
                <a th:href="@{/test/detail(keyword=${keyword}, contentType=${contentType}, page=${page + 3})}">[[${page+3}]]</a>
            </div>

            <div th:if="${totalCount - page > 1}" style="float: left">
                &nbsp;
                <a th:href="@{/test/detail(keyword=${keyword}, contentType=${contentType}, page=${page + 1})}">다음</a>
            </div>
        </th:block>
        <th:block th:if="${page==null}">
            검색된 결과가 없습니다.
        </th:block>

    </div>

    <!--Map영역-->
    <div class="map">
        <h4>map 파트</h4>
    </div>

    <script>
        function checkForm(){
            if(frm.keyword.value == ""){
                frm.focus();
                alert("키워드를 입력하여 주십시오");
                return false;
            }
        }
        function searchMore(){
            var url = "http://localhost:9090/test/moreSearch";
            window.open(url, "", "width=400, height=400, left=600");
        }
    </script>
</div>
<!--content영역끝-->

<!--footer영역-->
<th:block th:replace="~{/sementic/footer :: setFoot(~{this::foot} )}"></th:block>
</body>
</html>