<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<table border="1">
    <div th:each="list : ${list}">
    <tr>
        <td>
            <a th:href="@{/test/realDetail(content_id=${list.content_id}, contentType=${list.contentType}, firstimage2=${list.firstimage2})}">
                <img th:src="${list.firstimage2}" width="100" height="100">
            </a>

            <input type="hidden" name="mapx" id="mapx" th:value="${list.mapx}">
            <input type="hidden" name="mapy" id="mapy" th:value="${list.mapy}">
        </td>
        <td>
            <a th:href="@{/test/realDetail(content_id=${list.content_id}, contentType=${list.contentType}, firstimage2=${list.firstimage2})}">[[${list.keyword}]]</a>
        </td>
    </tr>
    </div>

</table>

</body>
</html>