<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>리뷰 수정</title>
</head>
<body>
<form action="modifyReview">
<table border="1">
  <tr>
    <td>리뷰 작성</td>
    <td>
      <input type="text" name="r_content">
    </td>
  </tr>
  <tr>
    <td>평점 입력</td><td><input type="range" name="r_rating" min="1" max="5"></td>
  </tr>
  <tr>
    <td colspan="2">
      <input value="수정" type="submit">
      <a th:href="@{/test/deleteReview(r_num=${list.r_num})}">
        <button type="button">삭제</button>
      </a>
    </td>

  </tr>
</table>
</form>

</body>
</html>