<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table border="1">
    <tr>
        <td>이벤트 플레이스</td>
        <td>연령제한</td>
        <td>연락처</td>
    </tr>
    <tr th:each="dto : ${list}">
        <td th:text="${dto.eventplace}"></td>
        <td th:text="${dto.agelimit}"></td>
        <td th:text="${dto.sponsor1tel}"></td>
    </tr>

</table>

<table border="1">
    <tr>
        <td>번호</td>
        <td>컨텐츠아이디</td>
        <td>내용</td>
        <td>평점</td>
    </tr>
    <tr th:each="list : ${reviewList}">
        <td th:text="${list.r_num}"></td>
        <td th:text="${list.content_id}"></td>
        <td th:text="${list.r_content}"></td>
        <td th:text="${list.r_rating}"></td>
    </tr>
</table>

<form action="/test/reviewWrite" method="post">
<table border="2">
    <tr>
        <td>리뷰 작성</td><td><input type="text" name="r_content"><input type="hidden" name="content_id" th:value="${contentId}"></td>
    </tr>
    <tr>
        <td>평점 입력</td><td><input type="range" name="r_rating" min="1" max="5"></td>
    </tr>
    <tr>
        <td colspan="2"><input value="입력" type="submit"></td>
    </tr>
</table>
</form>
</body>
</html>