<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="setHead(head)"></th:block>
<th:block th:fragment="setFoot(foot)"></th:block>
<th:block th:fragment="setCss(css)"></th:block>
<head>
    <meta charset="UTF-8">
    <title>리스트</title>
    <th:block th:replace="~{/css :: setCss(~{this::css} )}"></th:block>
</head>
<body>

<!--header영역-->
<th:block th:replace="~{/sementic/header :: setHead(~{this::head} )}"></th:block>


<div class="section">
    <!--content영역-->
    <div class="content">
        <h2>놀먹날먹 공지사항</h2>
        <table>
            <thead>
            <tr>
                <th scope="col">번호</th>
                <th scope="col">제목</th>
                <th scope="col">작성자</th>
                <th scope="col">날짜</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="dto : ${result.dtoList}">
                <td scope="row">
                    <a th:href="@{/notice/read(no = ${dto.no},
                    page= ${result.page},
                    type= ${pageRequestDTO.type} ,
                    keyword = ${pageRequestDTO.keyword})}">
                        [[${dto.no}]]
                    </a>
                </td>
                <td>[[${dto.n_title}]]</td>
                <td>[[${dto.n_writer}]]</td>
                <td>[[${#temporals.format(dto.regDate, 'yyyy/MM/dd')}]]</td>
            </tr>
            </tbody>
        </table>

        <ul class="list_ul">
            <li class="notice_prev" th:if="${result.prev}">
                <a th:href="@{/notice/list(page= ${result.start -1},
                    type=${pageRequestDTO.type} ,
                    keyword = ${pageRequestDTO.keyword} ) }" tabindex="-1">Prev</a>
            </li>
            <li th:class="${result.page == page?'active':''} " th:each="page: ${result.pageList}">
                <a th:href="@{/notice/list(page = ${page} ,
                   type=${pageRequestDTO.type} ,
                   keyword = ${pageRequestDTO.keyword}  )}">
                    [[${page}]]
                </a>
            </li>
            <li class="notice_next" th:if="${result.next}">
                <a th:href="@{/notice/list(page= ${result.end + 1} ,
                    type=${pageRequestDTO.type} ,
                    keyword = ${pageRequestDTO.keyword} )}">Next</a>
            </li>

        </ul>
        <br/>


        <button class="notice_btn" type="button" th:onclick="|location.href='/notice/register'|">글쓰기</button>
    </div>


    <!--Map영역-->
    <div class="map">
        <h4>map 파트</h4>
    </div>
</div>


<!--footer영역-->
<th:block th:replace="~{/sementic/footer :: setFoot(~{this::foot} )}"></th:block>
</body>
</html>