<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="setHead(head)"></th:block>
<th:block th:fragment="setFoot(foot)"></th:block>
<th:block th:fragment="setCss(css)"></th:block>
<head>
    <meta charset="UTF-8">
    <title>공지사항</title>
    <th:block th:replace="~{/css :: setCss(~{this::css} )}"></th:block>
    <link rel="stylesheet" th:href="@{/dist/css/notice.css}">
</head>
<body>
<!--header영역-->
<th:block th:replace="~{/sementic/header :: setHead(~{this::head} )}"></th:block>

<div class="section">
    <!--content영역-->
    <div class="notice_content">
        <div class="notice_read_content2">
            <h2 class="notice_read_h2">새소식</h2>
            <div>
                <label class="notice_read_label"style="letter-spacing: 29px; padding-left: 29px;">제목</label>
                <input class="notice_read_input" type="text" name="n_title" th:value="${dto.n_title}" readonly>
            </div>
            <div class="form-group">
                <label class="notice_read_label">작성일자</label>
                <input class="notice_read_input" type="text" name="regDate"
                       th:value="${#temporals.format(dto.modDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
            </div>
            <div>
                <textarea class="notice_read_input_content" rows="20" name="n_content"
                          readonly>[[${dto.n_content}]]</textarea>
            </div>
            <div class="notice_read_btn">
                <a th:href="@{/notice/modify(no = ${dto.no}, page=${requestDTO.page})}">
                    <button type="button">수정하기</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </a>
                <button type="button" th:onclick="|location.href='/notice/list'|">목록으로</button>
            </div>
        </div>
    </div>
    <!--content영역끝-->
</div>

<!--footer영역-->
<th:block th:replace="~{/sementic/footer :: setFoot(~{this::foot} )}"></th:block>

</body>
</html>