<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>회원탈퇴</title>
    <th:block th:replace="~{/css :: setCss(~{this::css} )}"></th:block>
    <th:block th:fragment="setHead(head)"></th:block>
    <th:block th:fragment="setFoot(foot)"></th:block>
</head>
<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

<body>

<th:block th:replace="~{/sementic/header :: setHead(~{this::head} )}"></th:block>
<div class="whole_page_cover">
    <div class="direction">
        <form>
        <input type="hidden" id="id" th:value="${#authentication.principal.member_tbl.id}">
        </form>

        <h2>-경고-</h2><br>
        회원 탈퇴 시 게시글 및 댓글을 제외한 모든 정보가 삭제되며 다시 복구할 수 없습니다.<br><br>
        회원 탈퇴버튼을 누르면 회원 탈퇴가 진행됩니다.<br><br>


        <div class="direction_btn">
            <input type="button" id="btn-delete" value="회원탈퇴">
        </div>
    </div>
</div>

<th:block th:replace="~{/sementic/footer :: setFoot(~{this::foot} )}"></th:block>

</body>
<script th:src="@{/dist/js/user.js}"></script>

</html>