<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>회원가입</title>
    <th:block th:replace="~{/css :: setCss(~{this::css} )}"></th:block>
    <th:block th:fragment="setHead(head)"></th:block>
    <th:block th:fragment="setFoot(foot)"></th:block>
</head>


<body>

<th:block th:replace="~{/sementic/header :: setHead(~{this::head} )}"></th:block>
<div class="whole_page_cover">
  <div class="member_insert">
      <h2>회원가입</h2>
      <form th:action="@{/member/join}" th:object="${member_tbl}" th:method="POST">
          <div class="member_insert_input">
              <label for="username"></label>
              <input type="text" th:field="*{username}" th:class="${#fields.hasErrors('username')} ? 'error'" placeholder="아이디" id="username"/>
              <div th:each="msg : ${#fields.errors('username')}">
                  <p th:style="${'color: red;'}" th:text="${msg}"></p>
              </div>
          </div>
          <div class="member_insert_input">
              <label for="Password"></label>
              <input type="password" placeholder="비밀번호" id="password"  th:field="*{password}" th:class="${#fields.hasErrors('password')} ? 'error'">
              <div th:each="msg : ${#fields.errors('password')}">
                  <p th:style="${'color: red;'}" th:text="${msg}"></p>
              </div>
          </div>
          <div class="member_insert_input">
              <label for="Email"></label>
              <input type="email" placeholder="이메일" id="email" th:field="*{email}" th:class="${#fields.hasErrors('email')} ? 'error'">
              <div th:each="msg : ${#fields.errors('email')}">
                  <p th:style="${'color: red;'}" th:text="${msg}"></p>
              </div>
          </div>
          <div class="member_insert_input">
              <label for="Name"></label>
              <input type="text" placeholder="이름" id="name" th:field="*{name}" th:class="${#fields.hasErrors('name')} ? 'error'">
              <div th:each="msg : ${#fields.errors('name')}">
                  <p th:style="${'color: red;'}" th:text="${msg}"></p>
              </div>
          </div>

          <div class="member_insert_btn">
              <input type="submit" id="btn-save" value="회원가입">
          </div>

          <div class="member_insert_btn">
              <input type="reset" value="다시쓰기">
          </div>

      </form>



  </div>

</div>
<script th:src="@{/dist/js/user.js}"></script>


<th:block th:replace="~{/sementic/footer :: setFoot(~{this::foot} )}"></th:block>

</body>
