
<th:block th:fragment="setMyPage(mypage)">
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>My page</title>
</head>

<body>

<div class="MyPage">

    <!--top-->
    <div class="top-toolbar">
        <div>
            <a th:href="@{/member/mypage_myinfo}"><h2>내정보</h2></a>
        </div>
        <div>
            <a th:href="@{/member/mypage_like}"><h2>찜목록</h2></a>
        </div>
    </div>

    <!--Content-->
    <div class="content-MyPage">
        <ul>
            <li>
                처음 눌렀을 때 mypage
            </li>

        </ul>
    </div>

    <!--bottom-->
    <div class="bottom-toolbar">
        <a sec:authorize="isAnonymous()" th:href="@{/member/auth/login}">로그인</a>
        <a sec:authorize="isAuthenticated()" th:href="@{/member/logout}">로그아웃</a>
        <a sec:authorize="isAnonymous()" th:href="@{/member/auth/join}">회원가입</a>
    </div>


</div>

</body>
</html>
</th:block>