<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="setMyPageInfo(mypageinfo)">
    <body>
    <div class="MyPage">

        <!--top-->
        <!--
            <div class="top-toolbar">
            <div>
                <a th:href="@{/member/mypage_myinfo}"><h2>내정보</h2></a>
            </div>
            <div>
                <a th:href="@{/member/mypage_like}"><h2>찜목록</h2></a>
            </div>
        </div>
        -->

        <!--Content-->
        <div class="content-MyPage">
            <ul>
                <li>아이디</li>
                <li>이름</li>
                <li>이메일</li>
                <li>지난 여행기록</li>
            </ul>
        </div>

        <!--bottom-->
        <div class="bottom-toolbar">
            <a sec:authorize="isAnonymous()" th:href="@{/member/auth/login}">로그인</a>
            <a sec:authorize="isAuthenticated()" th:href="@{/logout}">로그아웃</a>
            <a sec:authorize="isAnonymous()" th:href="@{/member/auth/join}">회원가입</a>
        </div>

    </div>

    </body>
</th:block>