
<th:block th:fragment="setMyPageLike(mypagelike)">
    <body>
    <div class="MyPage">

        <!--top-->
        <!--
            <div class="top-toolbar">
            <div>
                <a th:href="@{/member/mypage_myinfo}"><h2>내정보</h2></a>
            </div>
            <div>
                <a th:href="@{/member/mypage_like}"><h2>찜목록</h2></a>
            </div>
        </div>
        -->

        <!--Content-->
        <div class="content-MyPage">
            <ul class="icons">
                <li>
                    찜 목록 1
                    <div class="icon_img">
                        <img th:src="@{/image/logo.png}">
                    </div>
                </li>
                <li>
                    찜 목록 2
                    <div class="icon_img">
                        <img th:src="@{/image/logo.png}">
                    </div>
                </li>
                <li>
                    찜 목록 3
                    <div class="icon_img">
                        <img th:src="@{/image/logo.png}">
                    </div>
                </li>
                <li>
                    찜 목록 4
                    <div class="icon_img">
                        <img th:src="@{/image/logo.png}">
                    </div>
                </li>
            </ul>
        </div>

        <!--bottom-->
        <div class="bottom-toolbar">
            <a sec:authorize="isAnonymous()" th:href="@{/member/auth/login}">로그인</a>
            <a sec:authorize="isAuthenticated()" th:href="@{/logout}">로그아웃</a>
            <a sec:authorize="isAnonymous()" th:href="@{/member/auth/join}">회원가입</a>
        </div>
        
    </div>

    </body>
    </html>
</th:block>