<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<th:block th:fragment="setHead(head)"></th:block>
<th:block th:fragment="setFoot(Foot)"></th:block>
<th:block th:fragment="setCss(css)"></th:block>
<head>
    <meta charset="UTF-8">
    <title>마이페이지</title>
    <th:block th:replace="~{/css :: setCss(~{this::css} )}"></th:block>
</head>
<body>

<!--Header-->
<th:block th:replace="~{/sementic/header :: setHead(~{this::head} )}"></th:block>

<!--Content-->
<section class="myPageTraveledSection">

    <h1>TraveledList</h1>

    <div class="myPageTraveledList">
        <th:block th:each="list : ${likeList}">
            <ul th:id="${list.content_id}">
                <li><img th:src="${list.firstimage}" width="50" height="50">
                    <input type="hidden" name="mapx" id="mapx" th:value="${list.mapx}">
                    <input type="hidden" name="mapy" id="mapy" th:value="${list.mapy}">
                    <input type="hidden" name="title" id="title" th:value="${list.title}">
                </li>
                <li th:text="${list.title}"></li>
                <li>
                    <button type="button" th:attr="onclick=|deleteLike('${list.content_id}')|">
                        <i class="far fa-trash-alt"></i>
                    </button>
                </li>
            </ul>
        </th:block>


    </div>

</section>
<th:block th:replace="~{/sementic/kakaoMapApi :: setMap(~{this::map} )}"></th:block>
<!--Footer-->
<th:block th:replace="~{/sementic/footer :: setFoot(~{this::foot} )}"></th:block>


</body>
<script th:inline="javascript">
    function deleteLike(content_id) {
        let conf = confirm("정말로 삭제하시겠습니까?");

        if (conf == true) {
            $.ajax({
                url: "/member/deleteLike",
                data: "content_id=" + content_id + "&like_type=2",
                type: "POST",
                success: function (data) {
                    let abc = document.getElementById(data);
                    abc.style.display = 'none';

                    alert("삭제했지롱")
                },
                error: function () {
                    alert("에러")
                }
            });
        } else if (conf == false) {
            alert("취소하셨습니다.");
        }


    }
</script>
</html>