<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<th:block th:fragment="setHead(head)"></th:block>
<th:block th:fragment="setFoot(Foot)"></th:block>
<th:block th:fragment="setCss(css)"></th:block>
<head>
    <meta charset="UTF-8">
    <title>마이페이지</title>
    <th:block th:replace="~{/css :: setCss(~{this::css} )}"></th:block>
</head>
<body>

<!--Header-->
<th:block th:replace="~{/sementic/header :: setHead(~{this::head} )}"></th:block>

<!--Content-->
<section class="myPageSection">
    <div class="myPageIntro">
        <span>사용자이름</span>
        <a th:href="@{/member/updateForm}">회원정보수정</a>
    </div>
    <table class="myPageLikeList">
        <span>찜목록</span>


            <th:block th:each="list : ${likeList}">
                <tr th:id="${list.content_id}">
                    <td><img th:src="${list.firstimage}" width="50" height="50"></td>
                    <td th:text="${list.title}"></td>
                    <td>
                        <button type="button" th:attr="onclick=|deleteLike('${list.content_id}')|">삭제</button>
                    </td>
                </tr>
            </th:block>


    </table>
</section>

<!--Footer-->
<th:block th:replace="~{/sementic/footer :: setFoot(~{this::foot} )}"></th:block>


</body>
<script th:inline="javascript">
    function deleteLike(content_id) {
        let conf = confirm("정말로 삭제하시겠습니까?");

        if (conf == true) {
            $.ajax({
                url: "/member/deleteLike",
                data: "content_id=" + content_id,
                type: "POST",
                success: function (data) {
                    let abc = document.getElementById(data);
                    abc.style.display = 'none';

                    alert("삭제했지롱")
                },
                error: function () {
                    alert("에러")
                }
            });
        } else if (conf == false) {
            alert("취소하셨습니다.");
        }


    }
</script>
</html>