<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Reset Password</title>
</head>
<body>
<center>
  <h2>새로운 비밀번호를 설정해주세요.</h2>

  <form action="#" th:action="@{/reset-password}" th:object="${member_tbl}" method="post">
    <table>
      <tr>
        <td><input th:field="*{email}" type="hidden" name="email" readonly></input></td>
      </tr>
      <td>아이디를 확인하세요:</td>
      <td><input th:field="*{username}" type="text" name="username" readonly></input></td>
      <tr>
        <td>새로운 비밀번호 입력:</td>
        <td><input th:field="*{password}" type="password" name="password"></input></td>
      </tr>
      <tr>
        <td><input type="submit" value="확인"></input></td>
      </tr>
    </table>
  </form>
</center>
</body>
</html>
