<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

<head>
    <title>비밀번호 재설정</title>
    <th:block th:replace="~{/css :: setCss(~{this::css} )}"></th:block>
    <th:block th:fragment="setHead(head)"></th:block>
    <th:block th:fragment="setFoot(foot)"></th:block>
</head>

<body>

<th:block th:replace="~{/sementic/header :: setHead(~{this::head} )}"></th:block>

<div class="whole_page_cover">
  <div class="member_resetPassword">
    <h2>새로운 비밀번호를 설정해주세요.</h2>
    <form action="#" th:action="@{/reset-password}" th:object="${member_tbl}" method="post">

          <div class="member_resetPassword_input">
            <input th:field="*{email}" type="hidden" name="email" readonly>
          </div>

        <h4>아이디를 확인하세요:</h4>
        <div class="member_resetPassword_input">
          <input th:field="*{username}" type="text" name="username" readonly>
        </div>

          <h4>새로운 비밀번호 입력:</h4>
          <div class="member_resetPassword_input">
            <input th:field="*{password}" type="password" name="password">
          </div>

          <div class="member_resetPassword_submit">
            <input type="submit" value="확인">
          </div>

      </table>
    </form>
  </div>
</div>

<th:block th:replace="~{/sementic/footer :: setFoot(~{this::foot} )}"></th:block>

</body>
</html>
