<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml"  xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Password Reset Success</title>
  <th:block th:replace="~{/css :: setCss(~{this::css} )}"></th:block>
  <th:block th:fragment="setHead(head)"></th:block>
  <th:block th:fragment="setFoot(foot)"></th:block>
</head>

<body>

<th:block th:replace="~{/sementic/header :: setHead(~{this::head} )}"></th:block>

<div class="whole_page_cover">
  <div class="direction">
    <div class="small_direction">
      <h4 th:text="${message}"></h4>
      <br>
    <a href="/">메인페이지로</a>
    </div>
  </div>
</div>

<th:block th:replace="~{/sementic/footer :: setFoot(~{this::foot} )}"></th:block>

</body>
</html>
