<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <title>회원정보 수정</title>
    <th:block th:replace="~{/css :: setCss(~{this::css} )}"></th:block>
    <th:block th:fragment="setHead(head)"></th:block>
    <th:block th:fragment="setFoot(foot)"></th:block>
</head>

<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>

<body>

<th:block th:replace="~{/sementic/header :: setHead(~{this::head} )}"></th:block>

<div class=whole_page_cover>
    <div class="member_update">
        <h2><b>회원정보 수정</b></h2>
        <form>
            <input type="hidden" id="id" th:value="${#authentication.principal.member_tbl.id}">

            <div class="member_update_input">
                <label for="username"></label>
                <input type="username" th:value="${#authentication.principal.username}" placeholder="아이디" id="username" readonly="readonly">
            </div>

            <div class="member_update_input" th:if="${#authentication.principal.member_tbl.oauth==null}">
                <label for="Password"></label>
                <input type="password" placeholder="비밀번호" id="password">
            </div>

            <div class="member_update_input">
                <label for="Email"></label>
                <input type="email" th:value="${#authentication.principal.member_tbl.email}" placeholder="이메일" id="email">
            </div>

            <div class="member_update_input">
                <label for="Name"></label>
                <input type="text" th:value="${#authentication.principal.member_tbl.name}" placeholder="이름" id="name">
            </div>

        </form>

        <div class="member_update_submit" data-animation="ripple">
            <input type="button" id="btn-update" value="회원수정완료">
        </div>

        <div class="member_update_delete" data-animation="ripple">
            <form th:action="@{/member/delete}" th:method="POST">
                <div>
                    <input type="submit" id="delete" value="회원탈퇴">
                </div>
            </form>
        </div>

    </div>
</div>

<script th:src="@{/dist/js/user.js}"></script>

<th:block th:replace="~{/sementic/footer :: setFoot(~{this::foot} )}"></th:block>

</body>

</html>