<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="setHead(head)"></th:block>
<th:block th:fragment="setFoot(foot)"></th:block>
<th:block th:fragment="setCss(css)"></th:block>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <th:block th:replace="~{/css :: setCss(~{this::css} )}"></th:block>
</head>
<body>
<!--header영역-->
<th:block th:replace="~{/sementic/header :: setHead(~{this::head} )}"></th:block>


<div class="section">
    <!--content영역-->
    <div class="content">
        <h1>My Travel Record</h1>
        <div>
            <label>번호</label>
            <input type="text" name="dno" th:value="${dto.dno}" readonly>
        </div>

        <div>
            <label>제목</label>
            <input type="text" name="d_title" th:value="${dto.d_title}" readonly>
        </div>
        <div>
            <label>작성일자</label>
            <input type="text" name="regDate"
                   th:value="${#temporals.format(dto.regDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
        </div>
        <div>
            <label>내용</label>
            <textarea rows="5" name="d_content">[[${dto.d_content}]]</textarea>

        </div>

        <div>
            <a th:href="@{/diary/modify(dno = ${dto.dno}, page=${requestDTO.page})}">
                <button type="button">수정하기</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            </a>
            <button type="button" th:onclick="|location.href='/diary/list'|">목록으로</button>
        </div>

        <!--content영역끝-->
    </div>
</div>


<!--footer영역-->
<th:block th:replace="~{/sementic/footer :: setFoot(~{this::foot} )}"></th:block>
</body>
</html>