<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="setHead(head)"></th:block>
<th:block th:fragment="setFoot(foot)"></th:block>
<th:block th:fragment="setCss(css)"></th:block>
<head>
    <meta charset="UTF-8">
    <title>diaryread</title>
    <th:block th:replace="~{/css :: setCss(~{this::css} )}"></th:block>
    <link rel="stylesheet" th:href="@{/dist/css/diary.css}">

</head>
<body>
<!--header영역-->
<th:block th:replace="~{/sementic/header :: setHead(~{this::head} )}"></th:block>


<div class="diary_section">
    <!--content영역-->
    <div class="diary_content">
        <h2 class="diary_read_h2">My Travel Record</h2>


        <div>
            <input class="diary_read_input diary_read_input_title" type="text" name="d_title" th:value="${dto.d_title}"
                   readonly>
        </div>
        <div>
            <input class="diary_read_input" type="text" name="regDate"
                   th:value="${#temporals.format(dto.regDate, 'yyyy/MM/dd HH:mm:ss')}" readonly>
        </div>
        <div>
            <div>
                <textarea class="diary_read_input_content" rows="5" name="d_content"
                          readonly>[[${dto.d_content}]]</textarea>

            </div>

            <div class="diary_read_btn">
                <a th:href="@{/diary/modify(dno = ${dto.dno}, page=${requestDTO.page})}">
                    <button type="button">수정하기</button>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                </a>
                <button type="button" th:onclick="|location.href='/diary/list'|">목록으로</button>
            </div>

            <!--content영역끝-->
        </div>
    </div>

</div>
<!--footer영역-->
<th:block th:replace="~{/sementic/footer :: setFoot(~{this::foot} )}"></th:block>
</body>
</html>