<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="setHead(head)"></th:block>
<th:block th:fragment="setFoot(foot)"></th:block>
<th:block th:fragment="setCss(css)"></th:block>
<head>
    <meta charset="UTF-8" enctype="multipart/form-data">
    <title>diaryregister</title>
    <th:block th:replace="~{/css :: setCss(~{this::css} )}"></th:block>
    <link rel="stylesheet" th:href="@{/dist/css/diary.css}">
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
</head>
<body>

<th:block th:replace="~{/sementic/header :: setHead(~{this::head} )}"></th:block>


<form th:action="@{/diary/register}" th:method="post">
    <div class="section">
        <div class="diary_content">
            <h2>글작성</h2>
            <div>
                <span>제 목</span>
                <input type="text" name="d_title" id="d_title" >
            </div>
            <div>
                <span>작성자</span>
                <input type="text" name="d_username" id="d_username">
            </div>
            <div>
                <textarea rows="20" name="d_content" id="d_content"></textarea>
            </div>

            <button id="uploadBtn">uploadFile</button>
            <button type="reset">다시쓰기</button>
            <button type="button" th:onclick="|location.href='/diary/list'|">목록으로</button>

        </div>
    </div>
</form>


<th:block th:replace="~{/sementic/footer :: setFoot(~{this::foot} )}"></th:block>


</body>
</html>