<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="setHead(head)"></th:block>
<th:block th:fragment="setFoot(foot)"></th:block>
<th:block th:fragment="setCss(css)"></th:block>
<head>
    <meta charset="UTF-8">
    <title>diaryregister</title>
    <th:block th:replace="~{/css :: setCss(~{this::css} )}"></th:block>
    <link rel="stylesheet" th:href="@{/dist/css/diary.css}">

</head>
<body>
<!--header영역-->
<th:block th:replace="~{/sementic/header :: setHead(~{this::head} )}"></th:block>

<div class="section">
    <!--content영역-->
    <div class="diary_content">
        <h2>글작성</h2>
        <form th:action="@{/diary/register}" th:method="post">
            <div>
                <span>제 목</span>
                <input type="text" name="d_title">
            </div>
            <div>
                <span>작성자</span>
                <input type="text" name="d_username">
            </div>
            <div>
                <textarea rows="20" name="d_content" placeholder="내용을 입력하세요."></textarea>
            </div>


            <input type="file" name="d_image" class="d_image" accept="image/*" />


            <button type="submit">작성하기</button>
            <button type="reset">다시쓰기</button>
            <button type="button" th:onclick="|location.href='/diary/list'|">목록으로</button>
        </form>
    </div>
    <!--content영역끝-->
</div>


<!--footer영역-->
<th:block th:replace="~{/sementic/footer :: setFoot(~{this::foot} )}"></th:block>


<script>
    var regex = new RegExp("(.*?)\.(exe|sh|aip|alz)$");
    var maxSize = 5242880; //5MB
    function chechExtension(fileName, fileSize) {
        if (fileSize >= maxSize) {
            alert("파일사이즈가 초과하셨습니다. 5MB이하로가능합니다.");
            return false;
        }
        if (regex.test(fileName)) {
            alert("해당 종류의 파일은 업로드할 수 없습니다!");
            return false;
        }
        return true;
    }

    $("#d_image").on("click", function (e) {
        var formData = new FormData();
        var inputFile = $("input[name='d_image']");
        var files = inputFile[0].files;
        console.log(files);
        for (var i = 0; i < files.length; i++) {
            if (!chechExtension(files[i].name, files[i].size)) {
                return false;
            }
            formData.append("d_image", files[i]);
        }
        $.ajax({
            url: '/diary/regisster',
            processData: false,
            contentType: false,
            data: formData,
            type: 'POST',
            success: function (result) {
                alert("파일을 업로드하였습니다.")
            }, error: function () {
                alert("에러다!")
            }
        });
    });

</script>
</body>
</html>