<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="setHead(head)"></th:block>
<th:block th:fragment="setFoot(foot)"></th:block>
<th:block th:fragment="setCss(css)"></th:block>
<head>
    <meta charset="UTF-8" enctype="multipart/form-data">
    <title>diaryregister</title>
    <th:block th:replace="~{/css :: setCss(~{this::css} )}"></th:block>
    <link rel="stylesheet" th:href="@{/dist/css/diary.css}">
    <script src="http://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
</head>
<body>

<th:block th:replace="~{/sementic/header :: setHead(~{this::head} )}"></th:block>



<form id="form">
<div class="section">
    <div class="diary_content">
        <h2>글작성</h2>
        <div>
            <span>제 목</span>
            <input type="text" name="d_title" id="d_title" th:value="제목">
        </div>
        <div>
            <span>작성자</span>
            <input type="text" name="d_username" id="d_username" th:value="작성자">
        </div>
        <div>
            <textarea rows="20" name="d_content" id="d_content">내용입니다.</textarea>
        </div>
        <div>
            <input type="file" name="uploadfile" id="uploadfile" accept="image/*" multiple/>

        </div>
        <button id="uploadBtn">uploadFile</button>
        <button type="reset">다시쓰기</button>
        <button type="button" th:onclick="|location.href='/diary/list'|">목록으로</button>

    </div>
</div>
</form>


<th:block th:replace="~{/sementic/footer :: setFoot(~{this::foot} )}"></th:block>

<!--
           formData.append("d_title",$("#d_title").val());
            formData.append("d_username",$("#d_username").val());
            formData.append("d_content", $("#d_content").val());
            -->
<script>
    $(document).ready(function () {
        $("#uploadBtn").on("click", function (e) {
            console.log("호출되는가?");
            var formData = new FormData();
            var inputFile = $("input[name='uploadfile']");
            let files = inputFile[0].files;
            console.log(files);

            formData.append("d_title",$("#d_title").val());
            formData.append("d_username",$("#d_username").val());
            formData.append("d_content", $("#d_content").val());
            for (var i = 0; i < files.length; i++) {
                formData.append("uploadfile", files[i]);
            }
            console.log("호출되는가?");
            $.ajax({
                url: '/diary/register',
                processData: false,
                contentType: false,
                data: formData,
                type: 'POST',
                success: function (result) {
                    alert("파일을 업로드하였습니다.");
                }
            });
        });
    });
</script>
</body>
</html>