<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<th:block th:fragment="setHead(head)"></th:block>
<th:block th:fragment="setFoot(foot)"></th:block>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>여행플랜</title>
    <link rel="stylesheet" th:href="@{/dist/css/datepicker.min.css}">
    <link rel="stylesheet" th:href="@{/dist/css/sementic.css}">
    <script th:src="@{/jquery-3.1.1.min.js}"></script>
    <script th:src="@{/dist/js/datepicker.min.js}"></script>
    <script th:src="@{/dist/js/i18n/datepicker.ko.js}"></script>
    <script th:src="@{/dist/js/plan.js}"></script>

    <style>
        * {
            margin: 0;
            padding: 0;
        }

        .double div {
            float: left;
        }
    </style>

</head>
<body>

<th:block th:replace="~{/sementic/header :: setHead(~{this::head} )}"></th:block>

<div class="palnday testclass">
    <h3>여행날짜선택</h3>
    <input id="sDay" type="text" name="sDay">-
    <input id="eDay" type="text" name="eDay">
    <input id="once" type="button" name="check" value="확인" onclick="createDiv('${datepicker1}','${datepicker2}'); this.onclick=null;"/>
</div>

<!--js에서 plandiv2가 들어오게됨-->
<div class="plandiv1">
</div>

<!--Map-->
<div class="map">
    <h4>map 파트</h4>
</div>

<script>/*JQuery*/
$("#datepicker").datepicker({
    language: 'ko'
});
//두개짜리 제어 연결된거 만들어주는 함수
datePickerSet($("#sDay"), $("#eDay"), true); //다중은 시작하는 달력 먼저, 끝달력 2번째

</script>

<th:block th:replace="~{/sementic/footer :: setFoot(~{this::foot} )}"></th:block>

</body>
</html>

