<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="setSearch(search)"></th:block>
<th:block th:fragment="setHead(head)"></th:block>
<th:block th:fragment="setFoot(Foot)"></th:block>
<th:block th:fragment="setCss(css)"></th:block>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <meta name="google-signin-client_id"
          content="832265235477-t0424vv7k8bmivu13hibk2tbt3947sql.apps.googleusercontent.com">
    <th:block th:replace="~{/css :: setCss(~{this::css} )}"></th:block>
</head>
<body>

<div class="wrap">
    <div class="intro_bg" th:style="'background:url('+ @{/image/sea.jpg} +');'">
        <th:block th:replace="~{/sementic/header :: setHead(~{this::head} )}"></th:block>
        <div class="intro_text">
            <th:block class="search" th:replace="~{/detail/searchPage :: setSearch(~{this::search} )}"></th:block>
            <h1>놀먹날먹, 월급루팡</h1>
        </div>
        <ul class="amount">
            <li>
                <div>
                    <div class="contents1">PLAN</div>
                    <div class="result"><a th:href="@{/plan/plan}">사각사각</a></div>
                </div>
            </li>
            <li>
                <div>
                    <div class="contents1">DIARY</div>
                    <div class="result"><a th:href="@{/diary/list}">끄적끄적</a></div>
                </div>
            </li>
        </ul>

        <!--테스트-->
        <div class="container">
            <div class="box">
                <a href="detail/detail?contentType=12&keyword=+&page=1">
                    <img src="https://source.unsplash.com/1000x800?tour">
                </a>
                <span>관광지</span>
            </div>
            <div class="box">
                <a href="detail/detail?contentType=14&keyword=+&page=1">
                    <img src="https://source.unsplash.com/1000x800?exhibition">
                </a>
                <span>문화시설</span>
            </div>
            <div class="box">
                <a href="detail/detail?contentType=15&keyword=+&page=1">
                    <img src="https://source.unsplash.com/1000x800?festival">
                </a>
                <span>축제/공연/행사</span>
            </div>
            <div class="box">
                <a href="detail/detail?contentType=39&keyword=+&page=1">
                    <img src="https://source.unsplash.com/1000x800?food">
                </a>
                <span>맛집</span>
            </div>
        </div>

        <div class="main_test0">
            <h1>맛집</h1>
            <div class="contents1">
                먹을 생각에 벌써 설레죠?
            </div>

            <ul class="icons">

                <th:block th:each="shop : ${shop}">
                    <li>
                        <div class="icon_img">
                            <img th:src="${shop.firstimage2}" onerror="this.src='/image/jeju.png'">
                        </div>
                        <div class="contents1_bold">[[${shop.title}]]</div>
                        <div class="contents1">[[${shop.areacode}]]</div>

                        <div class="more" style="cursor: pointer"><a
                                th:href="@{/detail/realDetail/(content_id=${shop.content_id}, contentType=${shop.contentType}, firstimage2=${shop.firstimage2})}">MORE</a>
                        </div>

                    </li>
                </th:block>

            </ul>

        </div>
        <div class="main_test0">
            <h1>관광지</h1>
            <div class="contents1">
                놀러갈 생각에 벌써 두근대죠?
            </div>
            <ul class="icons">
                <th:block th:each="tour : ${tour}">
                    <li>
                        <div class="icon_img">
                            <img th:src="${tour.firstimage2}" onerror="this.src='/image/jeju.png'">
                        </div>
                        <div class="contents1_bold">[[${tour.title}]]</div>
                        <div class="contents1">[[${tour.areacode}]]</div>

                        <div class="more" style="cursor: pointer"><a
                                th:href="@{/detail/realDetail/(content_id=${tour.content_id}, contentType=${tour.contentType}, firstimage2=${tour.firstimage2})}">MORE</a>
                        </div>

                    </li>
                </th:block>
            </ul>
        </div>
        <div class="main_test0">
            <h1>축제</h1>
            <div class="contents1">
                신나게 놀 생각에 벌써 떨리죠?
            </div>
            <ul class="icons">
                <th:block th:each="fest : ${fest}">
                    <li>
                        <div class="icon_img">
                            <img th:src="${fest.firstimage2}" onerror="this.src='image/jeju.png'">
                        </div>
                        <div class="contents1_bold">[[${fest.title}]]</div>
                        <div class="contents1">[[${fest.areacode}]]</div>

                        <div class="more" onclick="" style="cursor: pointer"><a
                                th:href="@{/detail/realDetail/(content_id=${fest.content_id}, contentType=${fest.contentType}, firstimage2=${fest.firstimage2})}">MORE</a>
                        </div>

                    </li>
                </th:block>
            </ul>
        </div>
        <div class="main_text2" id="link_main_contact">
            <ul>
                <li>
                    <div><h1>CONTACT</h1></div>
                    <div>우리에게 파트너십을 신청하건, 고객이 되어주세요</div>
                    <div class="more2">더 알아보기</div>
                </li>
            </ul>
        </div>

        <th:block th:replace="~{/sementic/footer :: setFoot(~{this::foot} )}"></th:block>

    </div>


</div>


</div>
</body>
<script>
    function ShopClick() {
        var form = document.getElementById('shopFrm');
        form.submit();
    }
</script>
</html>