<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="">

<th:block th:fragment="setHead(head)"></th:block>
<th:block th:fragment="setFoot(foot)"></th:block>

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/dist/css/sementic.css}">
</head>

<body>
<!--Header-->
<th:block th:replace="~{/sementic/header :: setHead(~{this::head} )}"></th:block>

<!--Content-->
<div class="content">
    <h4>content 파트</h4>
    <p><a th:href="@{/member/user}">유저페이지로</a></p>
</div>

<!--Map-->
<div class="map">
    <h4>map 파트</h4>
</div>

<!--Footer-->
<th:block th:replace="~{/sementic/footer :: setFoot(~{this::foot} )}"></th:block>

</body>
</html>