<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>로그인</title>
</head>

<style>
    .input-box > input{
        border:none;
        border-bottom:solid 1px #ccc;
        margin:10px 0;
    }
    .member_login{
        text-align: center;
        border: 1px solid black;
        width : 300px;
        height: 230px;
    }
</style>

<body>

<div class="member_login">
    <header>
        <h2>Login</h2>
    </header>

    <form action="#" method="POST">
        <div class="input-box">
            <input id="username" type="text" name="username" placeholder="아이디">
        </div>
        <div class="input-box">
            <input id="password" type="password" name="password" placeholder="비밀번호">

        </div>

        <input type="submit" value="로그인" onclick="#"> <!--"loginCheck()" 를 만들어서 아이디 확인 -->
        <input type="button" value="회원가입" onclick="location.href='member_insert.html'">

        <div>
            <ul>
                <li onclick="kakaoLogin();">
                    <a href="javascript:void(0)">
                        <span>카카오 로그인</span>
                    </a>
                </li>
            </ul>
        </div>
    </form>

</div>

</body>

<!-- 카카오 스크립트 -->
<script src="https://developers.kakao.com/sdk/js/kakao.js"></script>
<script>
    Kakao.init('b41669c5c4b0ee0b8e672be6a4cb7f24'); //발급받은 키 중 javascript키를 사용해준다.
    console.log(Kakao.isInitialized()); // sdk초기화여부판단
    //카카오로그인
    function kakaoLogin() {
        Kakao.Auth.login({
            success: function (response) {
                Kakao.API.request({
                    url: '/v2/user/me',
                    success: function (response) {
                        console.log(response)
                    },
                    fail: function (error) {
                        console.log(error)
                    },
                })
            },
            fail: function (error) {
                console.log(error)
            },
        })
    }
</script>

</html>