<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<th:block th:fragment="setHead(head)"></th:block>
<th:block th:fragment="setFoot(foot)"></th:block>
<th:block th:fragment="setCss(css)"></th:block>
<link rel="stylesheet" th:href="@{/dist/css/search.css}">
<head>
    <meta charset="UTF-8">
    <title>검색결과</title>
    <th:block th:replace="~{/css :: setCss(~{this::css} )}"></th:block>
    <script src="https://kit.fontawesome.com/9e919a258e.js" crossorigin="anonymous"></script>
</head>

<body>
<!--header영역-->
<th:block th:replace="~{/sementic/header :: setHead(~{this::head} )}"></th:block>


<section class="section">
    <div class="contentSearch">
        <form action="/detail/detail" name="frm" onsubmit="return checkForm()">
            <div class="areaSearch">
                <select name="contentType">
                    <option value="">전체</option>
                    <option value="12">관광지</option>
                    <option value="14">문화시설</option>
                    <option value="15">축제/공연/행사</option>
                    <option value="39">맛집</option>
                </select>
                <select name="areaCode" id="areaCode">
                    <option value="">전국</option>
                    <option value="1">서울</option>
                    <option value="2">인천</option>
                    <option value="3">대전</option>
                    <option value="4">대구</option>
                    <option value="5">광주</option>
                    <option value="6">부산</option>
                    <option value="7">울산</option>
                    <option value="8">세종특별시</option>
                    <option value="31">경기도</option>
                    <option value="32">강원도</option>
                    <option value="33">충청북도</option>
                    <option value="34">충청남도</option>
                    <option value="35">경상북도</option>
                    <option value="36">경상남도</option>
                    <option value="37">전라남도</option>
                    <option value="38">전라북도</option>
                    <option value="39">제주도</option>
                </select>
                <input type="text" name="keyword">
                <input type="hidden" name="page" th:value="1">
                <input class="searchBtn" type="submit" value="검색">
            </div>

            <div class="areaText" id="areaText"></div>

        </form>
        <th:block th:if="${page != null}">
            <table class="searchTable">
                <div th:each="list : ${list}">
                    <tr>
                        <td>
                            <a th:href="@{/detail/realDetail(content_id=${list.content_id}, contentType=${list.contentType}, firstimage2=${list.firstimage2})}"><img
                                    th:src="${list.firstimage2}"></a>


                            <input type="hidden" name="mapx" id="mapx" th:value="${list.mapx}">
                            <input type="hidden" name="mapy" id="mapy" th:value="${list.mapy}">
                        </td>
                        <td>
                            <a th:href="@{/detail/realDetail(content_id=${list.content_id}, contentType=${list.contentType}, firstimage2=${list.firstimage2})}">[[${list.keyword}]]</a>
                        </td>
                        <td>
                            [[${list.addr1}]]
                        </td>
                        <td>
                            <th:block th:if="${list.reviewAvg == 0}">
                                <i class="fas fa-question"></i>
                            </th:block>
                            <th:block th:if="${list.reviewAvg > 0 && list.reviewAvg < 5}">
                                <i class="far fa-thumbs-down"></i>
                            </th:block>
                            <th:block th:if="${list.reviewAvg >= 5}">
                                <i class="far fa-thumbs-up"></i>
                            </th:block>
                        </td>
                    </tr>
                </div>


            </table>
            <div class="searchPaging">
                <div th:if="${page > 1 || totalCount == 1}">
                    <a th:href="@{/detail/detail(keyword=${keyword}, contentType=${contentType}, page=${page - 1})}">이전</a>
                </div>

                <div th:if="${page - 2 > 0}">
                    <a th:href="@{/detail/detail(keyword=${keyword}, contentType=${contentType}, page=${page - 2})}">[[${page-2}]]</a>
                </div>

                <div th:if="${page - 1 > 0}">
                    <a th:href="@{/detail/detail(keyword=${keyword}, contentType=${contentType}, page=${page - 1})}">[[${page-1}]]</a>
                </div>

                <div class="currentPage">
                    <p>[[${page}]]</p>
                </div>

                <div th:if="${totalCount>page+1}">
                    <a th:href="@{/detail/detail(keyword=${keyword}, contentType=${contentType}, page=${page+1})}">[[${page+1}]]</a>
                </div>

                <div th:if="${totalCount > page +2}">
                    <a th:href="@{/detail/detail(keyword=${keyword}, contentType=${contentType}, page=${page + 2})}">[[${page+2}]]</a>
                </div>

                <div th:if="${page == 1 && totalCount > 3}">
                    <a th:href="@{/detail/detail(keyword=${keyword}, contentType=${contentType}, page=${page + 3})}">[[${page+3}]]</a>
                </div>

                <div th:if="${page == 1 && totalCount > 3}">
                    <a th:href="@{/detail/detail(keyword=${keyword}, contentType=${contentType}, page=${page + 4})}">[[${page+4}]]</a>
                </div>

                <div th:if="${page == 2 && totalCount > 3}" style="float:left;">
                    <a th:href="@{/detail/detail(keyword=${keyword}, contentType=${contentType}, page=${page + 3})}">[[${page+3}]]</a>
                </div>

                <div th:if="${totalCount - page > 1}">
                    <a th:href="@{/detail/detail(keyword=${keyword}, contentType=${contentType}, page=${page + 1})}">다음</a>
                </div>
            </div>
        </th:block>
        <th:block th:if="${page==null}">
            <div class="nullText">
                검색된 결과가 없습니다.
            </div>
        </th:block>

    </div>

    <script src="http://code.jquery.com/jquery-latest.min.js"></script>
    <script>
        function checkForm() {
            if (frm.keyword.value == "") {
                frm.focus();
                alert("키워드를 입력하여 주십시오");
                return false;
            }
        }

        $(document).ready(function () {
            $(".localBtn").click(function () {
                $(".popup_bg").css({"display": "block"});
            })

            $(".popup_bg").click(function () {

                $(this).css({"display": "none"});
            })


        });

        function getAreaCode(event) {
            document.getElementById('areaText').innerText =
                event.target.title;
        }
    </script>

</section>
<!--content영역끝-->

<!--footer영역-->
<th:block th:replace="~{/sementic/footer :: setFoot(~{this::foot} )}"></th:block>
</body>
</html>