<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:fragment="setHead(head)"></th:block>
<th:block th:fragment="setFoot(foot)"></th:block>
<th:block th:fragment="setCss(css)"></th:block>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/dist/css/starCss.css}">
    <link rel="stylesheet" th:href="@{/dist/css/search.css}">
    <link rel="stylesheet" th:href="@{/dist/css/detail.css}">
    <th:block th:replace="~{/css :: setCss(~{this::css} )}"></th:block>
</head>
<body>
<!--header영역-->
<th:block th:replace="~{/sementic/header :: setHead(~{this::head} )}"></th:block>


<main class="section">
    <section class="realDetailContent">

        <div class="info">

            <ul class="name">
                <h2 th:text="${dto.title}"></h2>
                <li>
                    <div class="realDetailLike">
                        <div sec:authorize="isAuthenticated()"
                             th:if="${#authentication.principal.member_tbl.username} != null">
                            <div>
                                <i th:class="${like}" id="btn1"></i>
                                <span>Bucket!</span>
                            </div>
                            <div>
                                <i th:class="${like2}" id="btn2"></i>
                                <span>Traveled!</span>
                            </div>
                            <div>
                                <a class="review2"
                                   th:href="@{/detail/writeReview(content_id=${dto.content_id}, contentType=${dto.contentType}, title=${dto.title}, firstimage=${dto.firstimage2})}">
                                    <i class="far fa-edit"></i>
                                </a>
                                <span>Review!</span>
                            </div>
                            </th:block>
                            <input type="hidden" id="content_id" th:value="${dto.content_id}">
                            <input type="hidden" id="username" sec:authorize="isAuthenticated()"
                                   th:value="${#authentication.principal.member_tbl.username}">
                        </div>
                    </div>
                </li>
            </ul>
            <ul class="image">
                <img th:src="${dto.firstimage}">
            </ul>
            <ul class="addr">
                <li>위치</li>
                <li th:text="${dto.addr1}"></li>
            </ul>
            <ul class="intro">
                <li>설명</li>
                <li th:utext="${dto.overview}"></li>
            </ul>
            <ul class="tel">
                <li>연락처</li>
                <li th:text="${dto.tel}"></li>
            </ul>
            <ul class="homepage">
                <li>홈페이지</li>
                <li th:utext="${dto.homepage}"></li>
            </ul>


        </div>

        <div class="review">
            <h2>리뷰</h2>
            <ul th:each="list : ${reviewList}">
                <li class="review_user">
                    [[${list.name}]]
                    <a sec:authorize="isAuthenticated()"
                       th:if="${#authentication.principal.member_tbl.username} == ${list.username}"
                       th:href="@{/detail/modifyReview(r_num = ${list.r_num}, content_id = ${list.content_id}, contentType = ${dto.contentType}, firstimage2 = ${dto.firstimage2})}">
                        <button type="button">수정</button>
                    </a>
                </li>
                <li class="review_content">
                    [[${list.r_content}]]
                    <img th:src="@{/detail/download(image=${list.image})}" width="120" height="120" onerror="this.style.display='none'">
                </li>
                <li class="review_rate" th:text="${list.r_rating} + 점"></li>
                <!--<td><img th:src="@{file:///C:/upload/test/}+${list.image}"></td> -->
            </ul>
        </div>
    </section>

    <div class="map">
        <ul>
            <li>
                <input type="hidden" name="mapx" id="mapx" th:value="${dto.mapx}">
                <input type="hidden" name="mapy" id="mapy" th:value="${dto.mapy}">
                <input type="hidden" id="title" th:value="${dto.title}">
                <div id="map"></div>

            </li>
        </ul>
    </div>
</main>
<!--content영역끝-->

<!--footer영역-->
<th:block th:replace="~{/sementic/footer :: setFoot(~{this::foot} )}"></th:block>
<script src="https://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3b7d40e80fb8c0abb9d63a590f43fba0"></script>
<script>
    var mapx = Number(document.getElementById('mapx').value);
    var mapy = Number(document.getElementById('mapy').value);
    var title = document.getElementById('title').value;

    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new kakao.maps.LatLng(mapy, mapx), // 지도의 중심좌표
            level: 3 // 지도의 확대 레벨
        };

    var map = new kakao.maps.Map(mapContainer, mapOption);

    // 마커가 표시될 위치입니다
    var markerPosition = new kakao.maps.LatLng(mapy, mapx);

    // 마커를 생성합니다
    var marker = new kakao.maps.Marker({
        position: markerPosition
    });

    // 마커가 지도 위에 표시되도록 설정합니다
    marker.setMap(map);

    var iwContent = '<div style="padding:5px;">' + title + ' <br><a href="https://map.kakao.com/link/map/' + title + ',' + mapy + ',' + mapx + '" style="color:blue" target="_blank">큰지도보기</a> <a href="https://map.kakao.com/link/to/' + title + ',' + mapy + ',' + mapx + '" style="color:blue" target="_blank">길찾기</a></div>', // 인포윈도우에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
        iwPosition = new kakao.maps.LatLng(mapy, mapx); //인포윈도우 표시 위치입니다

    // 인포윈도우를 생성합니다
    var infowindow = new kakao.maps.InfoWindow({
        position: iwPosition,
        content: iwContent
    });
    infowindow.open(map, marker);

</script>
<script>
    $('#btn1').on('click', function () {
        var form = {
            content_id: document.getElementById('content_id').value,
            like_type: "1",
            username: document.getElementById('username').value
        }
        $.ajax({
            url: "/detail/likeDetail",
            type: "POST",
            data: form,
            success: function (data) {
                document.getElementById('btn1').className = data
            },
            error: function () {
                alert("ajax 에러 떴다.");
            }
        });
    });

    $('#btn2').on('click', function () {
        var form = {
            content_id: document.getElementById('content_id').value,
            like_type: "2",
            username: document.getElementById('username').value
        }
        $.ajax({
            url: "/detail/likeDetail",
            type: "POST",
            data: form,
            success: function (data) {
                document.getElementById('btn2').className = data
            },
            error: function () {
                alert("ajax 에러 떴다.");
            }
        });
    });
</script>
</body>
</html>