<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<th:block th:fragment="setHead(head)"></th:block>
<th:block th:fragment="setFoot(foot)"></th:block>
<th:block th:fragment="setCss(css)"></th:block>
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/dist/css/starCss.css}">
    <link rel="stylesheet" th:href="@{/dist/css/search.css}">
    <th:block th:replace="~{/css :: setCss(~{this::css} )}"></th:block>
</head>
<body>
<!--header영역-->
<th:block th:replace="~{/sementic/header :: setHead(~{this::head} )}"></th:block>


<div class="section">
    <div class="content">

        <table class="info" border="1">

            <tr>
                <td>이름</td>
                <td th:text="${dto.title}" style="border-right: none"></td>
                <td style="border: none">
                    <div class="realDetailLike" style="float: right">
                        <div>
                            <i th:class="${like}" id="btn1"></i>
                            <span>Bucket!</span>
                        </div>
                        <div>
                            <i th:class="${like2}" id="btn2"></i>
                            <span>Traveled!</span>
                        </div>
                        <a th:href="@{/detail/writeReview(content_id=${dto.content_id}, contentType=${dto.contentType}, title=${dto.title}, firstimage=${dto.firstimage2})}">
                            <th:block>
                                <button type="button" sec:authorize="isAuthenticated()"
                                        th:if="${#authentication.principal.member_tbl.username} != null">리뷰작성
                                </button>
                            </th:block>
                        </a>
                        <input type="hidden" id="content_id" th:value="${dto.content_id}">
                    </div>
                </td>
            </tr>
            <tr>
                <td>설명</td>
                <td width="400" th:utext="${dto.overview}" colspan="2"></td>
            </tr>
            <tr>
                <td>연락처</td>
                <td th:text="${dto.tel}" colspan="2"></td>
            </tr>
            <tr>
                <td>홈페이지</td>
                <td th:utext="${dto.homepage}" colspan="2"></td>
            </tr>
            <tr>
                <td>사진1</td>
                <td colspan="2"><img th:src="${dto.firstimage}"></td>
            </tr>


        </table>

        <table class="review" border="1">
            <tr>
                <td>아이디</td>
                <td>내용</td>
                <td>평점</td>
            </tr>
            <tr th:each="list : ${reviewList}">
                <td th:text="${list.username}"></td>
                <td th:text="${list.r_content}"></td>
                <td th:text="${list.r_rating}"></td>
                <!--<td><img th:src="@{file:///C:/upload/test/}+${list.image}"></td> -->
                <td><img th:src="@{/detail/download(image=${list.image})}" width="120" height="120"></td>
                <td>
                    <a sec:authorize="isAuthenticated()" th:if="${#authentication.principal.member_tbl.username} == ${list.username}" th:href="@{/detail/modifyReview(r_num = ${list.r_num}, content_id = ${list.content_id}, contentType = ${dto.contentType}, firstimage2 = ${dto.firstimage2})}">
                        <button type="button">수정</button>
                    </a>
                </td>
            </tr>
        </table>
    </div>

    <!--Map영역-->
    <div class="map">
        <tr>
            <td>
                <input type="hidden" name="mapx" id="mapx" th:value="${dto.mapx}">
                <input type="hidden" name="mapy" id="mapy" th:value="${dto.mapy}">
                <input type="hidden" id="title" th:value="${dto.title}">
                <div id="map"></div>
                
            </td>
        </tr>
    </div>
</div>
<!--content영역끝-->

<!--footer영역-->
<th:block th:replace="~{/sementic/footer :: setFoot(~{this::foot} )}"></th:block>
<script src="https://code.jquery.com/jquery-latest.js"></script>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=3b7d40e80fb8c0abb9d63a590f43fba0"></script>
<script>
    var mapx = Number(document.getElementById('mapx').value);
    var mapy = Number(document.getElementById('mapy').value);
    var title = document.getElementById('title').value;

    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new kakao.maps.LatLng(mapy, mapx), // 지도의 중심좌표
            level: 3 // 지도의 확대 레벨
        };

    var map = new kakao.maps.Map(mapContainer, mapOption);

    // 마커가 표시될 위치입니다
    var markerPosition = new kakao.maps.LatLng(mapy, mapx);

    // 마커를 생성합니다
    var marker = new kakao.maps.Marker({
        position: markerPosition
    });

    // 마커가 지도 위에 표시되도록 설정합니다
    marker.setMap(map);

    var iwContent = '<div style="padding:5px;">' + title + ' <br><a href="https://map.kakao.com/link/map/' + title + ',' + mapy + ',' + mapx + '" style="color:blue" target="_blank">큰지도보기</a> <a href="https://map.kakao.com/link/to/' + title + ',' + mapy + ',' + mapx + '" style="color:blue" target="_blank">길찾기</a></div>', // 인포윈도우에 표출될 내용으로 HTML 문자열이나 document element가 가능합니다
        iwPosition = new kakao.maps.LatLng(mapy, mapx); //인포윈도우 표시 위치입니다

    // 인포윈도우를 생성합니다
    var infowindow = new kakao.maps.InfoWindow({
        position: iwPosition,
        content: iwContent
    });
    infowindow.open(map, marker);

</script>
<script>
    $('#btn1').on('click', function (){
        var form = {
            content_id : document.getElementById('content_id').value,
            like_type : "1",
            username : "2"
        }
        $.ajax({
            url: "/detail/likeDetail",
            type : "POST",
            data : form,
            success: function(data){
                document.getElementById('btn1').className = data
            },
            error: function (){
                alert("ajax 에러 떴다.");
            }
        });
    });

    $('#btn2').on('click', function (){
        var form = {
            content_id : document.getElementById('content_id').value,
            like_type : "2",
            username : "2"
        }
        $.ajax({
            url: "/detail/likeDetail",
            type : "POST",
            data : form,
            success: function(data){
                document.getElementById('btn2').className = data
            },
            error: function (){
                alert("ajax 에러 떴다.");
            }
        });
    });
</script>
</body>
</html>