<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<th:block th:fragment="setHead(head)"></th:block>
<th:block th:fragment="setFoot(foot)"></th:block>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <title>여행플랜</title>
    <link rel="stylesheet" th:href="@{/dist/css/style.css}">


</head>

<body>
<!--header영역-->
<th:block th:replace="~{/sementic/header :: setHead(~{this::head} )}"></th:block>


<!--content영역시작-->
<div class="section">
    <div class="content">
        <h4>content파트</h4>
    </div>


    <!--Map영역-->
    <div class="map">
        <h4>map 파트</h4>
    </div>
    

</div>
<!--content영역끝-->

<!--footer영역-->
<th:block th:replace="~{/sementic/footer :: setFoot(~{this::foot} )}"></th:block>


</body>
</html>